In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time 
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
from IPython.core.display import display, HTML
import plotly.graph_objects as go
import re
# Natural Language Tool Kit 
import nltk  
nltk.download('stopwords') 
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer 
from collections import Counter
import cufflinks as cf
cf.go_offline()

ModuleNotFoundError: No module named 'wordcloud'

In [8]:
carrefour = pd.read_csv("carrefour_comment.csv")
aldi = pd.read_csv("aldi_comment.csv")
casino = pd.read_csv("casino_comment.csv")
intermarche = pd.read_csv("intermarche_comment.csv")
leclerc = pd.read_csv("leclerc_comment.csv")
lidl = pd.read_csv("lidl_comment.csv")

In [9]:
carrefour.head()

,Title,Content,Date,Rating
0,Bonjour (:,"Bonjour, pour parler du Carrefour de Feurs (42...",2020-10-25,medium
1,Viande à jeter…,"La semaine dernière,j’ai acheté une selle d’ag...",2020-10-24,medium
2,"carrefour france, petit bleu cremeux en ls",le meilleur bleu en ls qu on puisse trouver es...,2020-10-23,medium
3,Carrefour Les Portes en Ré à éviter,Carrefour Les Portes en Ré en constante ruptur...,2020-10-23,medium
4,Carrefour drive et cagnotte pas reversé sur ma...,J'ai fait un gros achat en septembre sur le dr...,2020-10-23,medium

In [13]:
carrefour['Enseigne'] = 'Carrefour'
aldi['Enseigne'] = 'Aldi'
casino['Enseigne'] = 'Casino'
intermarche['Enseigne'] = 'Intermarché'
leclerc['Enseigne'] = 'Leclerc'
lidl['Enseigne'] = 'Lidl'

carrefour.head()

,Title,Content,Date,Rating,Enseigne
0,Bonjour (:,"Bonjour, pour parler du Carrefour de Feurs (42...",2020-10-25,medium,Carrefour
1,Viande à jeter…,"La semaine dernière,j’ai acheté une selle d’ag...",2020-10-24,medium,Carrefour
2,"carrefour france, petit bleu cremeux en ls",le meilleur bleu en ls qu on puisse trouver es...,2020-10-23,medium,Carrefour
3,Carrefour Les Portes en Ré à éviter,Carrefour Les Portes en Ré en constante ruptur...,2020-10-23,medium,Carrefour
4,Carrefour drive et cagnotte pas reversé sur ma...,J'ai fait un gros achat en septembre sur le dr...,2020-10-23,medium,Carrefour

In [14]:
frames = [carrefour,aldi,casino,intermarche,leclerc,lidl]

merged_df = pd.concat(frames)

In [16]:
merged_df.describe()

,Title,Content,Date,Rating,Enseigne
count,240,240,240,240,240
unique,239,240,96,1,6
top,Bonjour,Intermarché Cessole Nice . Ce magasin particip...,2020-10-23,medium,Aldi
freq,2,1,10,240,40

In [17]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240 entries, 0 to 39
Data columns (total 5 columns):
Title       240 non-null object
Content     240 non-null object
Date        240 non-null object
Rating      240 non-null object
Enseigne    240 non-null object
dtypes: object(5)
memory usage: 11.2+ KB

In [18]:
merged_df.head()

,Title,Content,Date,Rating,Enseigne
0,Bonjour (:,"Bonjour, pour parler du Carrefour de Feurs (42...",2020-10-25,medium,Carrefour
1,Viande à jeter…,"La semaine dernière,j’ai acheté une selle d’ag...",2020-10-24,medium,Carrefour
2,"carrefour france, petit bleu cremeux en ls",le meilleur bleu en ls qu on puisse trouver es...,2020-10-23,medium,Carrefour
3,Carrefour Les Portes en Ré à éviter,Carrefour Les Portes en Ré en constante ruptur...,2020-10-23,medium,Carrefour
4,Carrefour drive et cagnotte pas reversé sur ma...,J'ai fait un gros achat en septembre sur le dr...,2020-10-23,medium,Carrefour

In [28]:
train = merged_df.iloc[0:190,:]
test = merged_df.iloc[190:240,:]

In [29]:
train.shape

(190, 5)

In [30]:
test.shape

(50, 5)

In [38]:
train.keyword.value_counts()[:20].iplot(kind='bar', title='Top 20 keywords in text', color='red')

AttributeError: 'DataFrame' object has no attribute 'keyword'