## Pandas

### Structure de donn√©es

In [1]:
import pandas as pd
import numpy as np

In [2]:
random_series = pd.Series(np.random.randn(4))
random_series

0    0.397168
1    0.444030
2   -0.755089
3   -0.659340
dtype: float64

In [3]:
print(random_series.name)

None

In [4]:
random_series.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
random_series.values

array([ 0.39716831,  0.44403013, -0.75508943, -0.65934025])

### DataFrames

In [7]:
dic = {"A":[1,2,3,4],"B":[5,6,7,8]}

In [8]:
df = pd.DataFrame(dic)

In [9]:
df

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

### OS Library

In [11]:
import os
os.getcwd()

'C:\\Users\\delph\\Documents\\git\\Jedha_bootcamp'

In [13]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Exercice',
 'Exercice_S2_ Day2.ipynb',
 'Projet_POO.ipynb']